@using  Evolution.UI.Models.ViewModel;
@model UsuarioViewModel
@{
    ViewData["Title"] = "Editar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3> Editar Usuario</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form asp-action="Update" asp-controller="Home" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="col-md-4 mb-3">
                        <label asp-for="UsuNombre" class="control-label"></label>
                        <input type="text" asp-for="UsuNombre" class="form-control" placeholder="Nombre">
                        <span asp-validation-for="UsuNombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 mb-3">
                        <label asp-for="UsuPass" class="control-label"></label>
                        <input type="text" asp-for="UsuPass" class="form-control" placeholder="pass">
                        <span asp-validation-for="UsuPass" class="text-danger"></span>
                    </div>
                </div>
s
                <hr>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Editar">
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{

    <partial name="_ValidationScriptsPartial" />
}
